@page

<div class="text-center">
  --目前開團列表--
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus veniam officia quod eveniet eligendi ad minus
    dolor facere natus vitae, tempora sapiente non et architecto, recusandae nostrum ex facilis tempore.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus veniam officia quod eveniet eligendi ad minus
    dolor facere natus vitae, tempora sapiente non et architecto, recusandae nostrum ex facilis tempore.</p>

  --已結案--
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus veniam officia quod eveniet eligendi ad minus
    dolor facere natus vitae, tempora sapiente non et architecto, recusandae nostrum ex facilis tempore.</p>

</div>
