@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">首頁首頁AAAAA</h1>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo a consectetur cum mollitia assumenda blanditiis
    eligendi rerum at. Aspernatur consequatur velit quis impedit iure nesciunt eius maxime sit aliquid animi.
  </p>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo a consectetur cum mollitia assumenda blanditiis
    eligendi rerum at. Aspernatur consequatur velit quis impedit iure nesciunt eius maxime sit aliquid animi.
  </p>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo a consectetur cum mollitia assumenda blanditiis
    eligendi rerum at. Aspernatur consequatur velit quis impedit iure nesciunt eius maxime sit aliquid animi.
  </p>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo a consectetur cum mollitia assumenda blanditiis
    eligendi rerum at. Aspernatur consequatur velit quis impedit iure nesciunt eius maxime sit aliquid animi.
  </p>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo a consectetur cum mollitia assumenda blanditiis
    eligendi rerum at. Aspernatur consequatur velit quis impedit iure nesciunt eius maxime sit aliquid animi.
  </p>
</div>
