@page
@model din_im_liau.Pages.User.ProfileModel;

@{
  @* ViewData["Title"] = Model.GoogleViewModel.fullName; *@

}
<div class="text-left">

  Profile!
  <form>
    <fieldset>
      <legend>Disabled fieldset example</legend>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Email</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input"
          value="Example@gmail.com" disabled>
      </div>
      <div class="mb-3">
        <label for="disabledSelect" class="form-label">Disabled select menu</label>
        <select id="disabledSelect" class="form-select">
          <option>Disabled select</option>
        </select>
      </div>
      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
          <label class="form-check-label" for="disabledFieldsetCheck">
            Can't check this
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</div>
@* <div class="text-center">



<div class="card" style="width: 18rem;">
<div class="rounded-circle border border-5">
<img src="@Url.Content(Model.GoogleViewModel.thumbnailUrl)" class="card-img-top " alt="pic">
</div>

<div class="card-body">
<p>@Html.DisplayFor(modelItem => modelItem.GoogleViewModel.email)</p>
<p>@Html.DisplayFor(modelItem => modelItem.GoogleViewModel.fullName)</p>
<p>@Html.DisplayFor(modelItem => modelItem.GoogleViewModel.googleUserId)</p>
</div>
</div>
</div> *@

@section Scripts {
  <script>
    console.log('profile');
  </script>
}
